@import '~bootstrap/scss/bootstrap.scss';
.form_container {
    position: absolute;
    background:#212529;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: -6px 4px 6px 0px rgba(0,0,0,.3);
    z-index: 3;
    display: none;
}

.yes_no {
    display: flex;
    justify-content: space-around;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

td .btn {
    margin: 2px 0;
}
